/*Sector universal*/

{
    padding: 0 auto;
    margin: 0 auto;
}


#contenedor{
    width: 1200;
    height: 1000px;
    background-color:rgb(232, 122, 164);
    color: white;
    max-width: 0 auto;
}


#encabezado{
    text-align: center;
    height: 15%;
    background-color:rgb(213, 61, 118);
    margin: 1em auto;
}

#menu{
    height: 5%;
    margin: 1em;
    background-color: rgb(240, 162, 191);
}

#seccion{
    height: 76%;
    width: 61%;
    background-color: rgb(213, 61, 118);
    margin: 0.5em;
    float: left;
}


#fueraseccion{
    height: 70%;
    width: 36%;
    background-color: rgb(232, 49, 118);
    margin: 0.5em;
    margin-left: 1%;
    float: right;
}

#pie{
    height: 5%;
    text-align: center;
    background-color: rgb(255, 49, 118);
    color: antiquewhite;
    border-radius: 1em;
    margin: 1.5 em;
    margin-top: 1%;
}

#enlaces{
    text-align: center;
    color: blue;
}

/* selector de class */
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: top 1em;
}

.imagenes{
    display: block;
    border: 1px solid #ddd; /*color en hexadecimal*/
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 150px;

}

.menu{
    text-align: center;
}

/*selector tipo etiqueta*/
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}
